---
import { themeConfig } from '~/.config'
import { withBase } from '~/utils'

const { navLinks, socialLinks } = themeConfig.site
const { translate: t } = Astro.locals
---

<nav class="text-center font-bold" flex="~ col gap-4">
  <ul lg="flex-col items-start text-4" class="text-3.5" flex="~ row gap-2 justify-center">
    {
      navLinks.map((nav) => (
        <li>
          <a class="" href={withBase(nav.href)}>
            {t(nav.name)}
          </a>
        </li>
      ))
    }
  </ul>
  <ul flex="~ row gap-1 justify-center">
    {
      socialLinks.map(({ href, name }) => (
        <li>
          <a href={withBase(href)} target="_blank" title={name} class="not-underline-hover inline-flex items-center">
            <span class:list={[`i-mdi-${name}`, 'w-6 h-6']}>{name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
